@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-tertiary);
    font-family: 'Pacifico', cursive;
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-content{
    --background: rgb(224, 217, 151);
  }